# Bot Discord
discord.py==2.3.2
python-dotenv==1.0.0

# API web
fastapi==0.104.1
uvicorn[standard]==0.24.0

# Requêtes HTTP 
httpx==0.25.2

# Base de données MySQL
aiomysql==0.2.0

# Outils divers
pydantic==2.5.0
pyjwt[crypto]==2.8.0
